body{
    background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

h1{
    text-align-last: center;
    text-decoration-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
  
    justify-content: flex-start;
    padding-top: 10vh;
    /* position: relative; */
    /* top: 25%;
    right: 10%; */
    text-align: center;
    font-size: 300%;
    top: 100%;
    
    
}



@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* background: #3E1E68; */
    overflow: hidden;
}

h2{
    position: absolute;
    top: 65%;
    right: 20%;
    text-align-last: center;
    text-decoration-color: white;
}
table{
    background-color: blueviolet;
}
.Countdowncontainer{
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: #ddd;
    border: 1px solid #999;
    padding: 10px;
    box-shadow: 0 0 5px 3px #ccc;
    text-decoration-color: white;
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.info{
    font-size: 80px;
}
.info1{
    font-size:xx-large;
}
